OPENAI_API_KEY='xxxxxxx' # for openai/chatgpt

TAVILY_API_KEY='xxxxxxx' # for taviliy search

ANTHROPIC_API_KEY='xxxxxxx' # for claude
GOOGLE_API_KEY='xxxxxxx' # for gemini


LANGSMITH_API_KEY='xxxxxxx'

LANGSMITH_TRACING="True/False" # turn this on/off for tracing in langsmith(recomeneded: true)
LANGSMITH_PROJECT="Langsmith_project_name"

# Use LANGSMITH_ENDPOINT only if your Langsmith instance is in EU
# LANGSMITH_ENDPOINT="XXX"

DEFAULT_LLM_PROVIDER="xxxxx"
DEFAULT_OPENAI_MODEL="xxxxx"