OPENAI_API_KEY=xxxxxxx # for openai/chatgpt

TAVILY_API_KEY=xxxxxxx # for taviliy search

ANTHROPIC_API_KEY=xxxxxxx # for claude
GOOGLE_API_KEY=xxxxxxx # for gemini


LANGSMITH_API_KEY=xxxxxxx

LANGSMITH_TRACING=true/false # turn this on/off for tracing in langsmith(recomeneded: true)
LANGSMITH_PROJECT=Your_Langsmith_project_name

# Uncomment the following line only if your Langsmith instance is in EU. 
# LANGSMITH_ENDPOINT=XXX.endpoint.com

DEFAULT_LLM_PROVIDER=xxxxx
DEFAULT_OPENAI_MODEL=xxxxx