# - - - L L M   M O D E L S - - -
OPENAI_API_KEY=xxxxxxx # for openai/chatgpt
ANTHROPIC_API_KEY=xxxxxxx # for claude
GOOGLE_API_KEY=xxxxxxx # for gemini

# - - - L L M   D E F A U L T S - - -
DEFAULT_LLM_PROVIDER=xxxxx
DEFAULT_OPENAI_MODEL=xxxxx


# - - - L A N G S M I T H - - -
LANGSMITH_API_KEY=xxxxxxx

LANGSMITH_TRACING=true/false # turn this on/off for tracing in langsmith(recomeneded: true)
LANGSMITH_PROJECT=Your_Langsmith_project_name

# Uncomment the following line only if your Langsmith instance is in EU. 
# LANGSMITH_ENDPOINT=XXX.endpoint.com

UPSTASH_REDIS_REST_URL=XXX
UPSTASH_REDIS_REST_TOKEN=XXX